<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>姓名案例_methods實現</title>
    <!-- 引入Vue -->
    <script type="text/javascript" src="../js/vue.js"></script>
</head>
<body>
    <!-- 準備好一個容器 -->
    <div id="root">
        姓：<input type="text" v-model="firstName"><br><br>
        名：<input type="text" v-model="lastName"><br><br>
        全名：<span>{{fullName()}}</span>
    </div>
</body>

<script type="text/javascript">
    Vue.config.productionTip = false  //把警告關掉，阻止 vue 在啟動時生成生產提示。
    new Vue({
        el: '#root',
        data: {
            firstName: '張',
            lastName: '三'
        },
        methods:{
            fullName(){
                let firstName = this.firstName
                let lastName = this.lastName
                return firstName + '-' + lastName
            }
        },

    })
</script>

</html>