<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>姓名案例_計算屬性簡寫</title>
    <!-- 引入Vue -->
    <script type="text/javascript" src="../js/vue.js"></script>
</head>
<body>
    <!-- 準備好一個容器 -->
    <div id="root">
        姓：<input type="text" v-model="firstName"><br><br>
        名：<input type="text" v-model="lastName"><br><br>
        全名：<span>{{fullName}}</span>
    </div>
</body>

<script type="text/javascript">
    Vue.config.productionTip = false  //把警告關掉，阻止 vue 在啟動時生成生產提示。
    const vm = new Vue({
        el: '#root',
        data: {
            firstName: '張',
            lastName: '三'
        },
        computed: {
            //完整寫法
            /* fullName:{
                get(){
                    console.log('get被調用了')
                    return this.firstName + '-' + this.lastName
                },
                set(value){
                    console.log('set',value)
                    const arr = value.split('-')
                    this.firstName = arr[0]
                    this.lastName = arr[1]
                }
            } */
            //簡寫，只有考慮讀取，不用考慮修改的時候，才可以寫簡寫!!!!!!!!!
            fullName(){
                console.log('get被調用了')
                return this.firstName + '-' + this.lastName
            }
        }
    })
</script>

</html>